h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.keys {
  display: flex;
  justify-content: center;
}

.key {
  padding: 50px 50px;
  margin: 10px;
}

.key:hover {
  transform: scale(1.1);
  transition: transform 0.1s;
}

.red-key {
  background-color: red;
}

.green-key {
  background-color: green;
}

.blue-key {
  background-color: blue;
}

.yellow-key {
  background-color: yellow;
}
