h1 {
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

.btn-container {
  display: flex;
  justify-content: center;
}

.btn {
  padding: 50px 50px;
  margin: 10px;
  transition: background-color 0.3s;
  &:hover {
    scale: 1.1;
  }
}

.game {
  display: grid;
}

.start-btn {
  justify-self: center;
  max-width: 50px;
}

#red-btn {
  background-color: rgb(139, 0, 0);
}

#red-btn-highlight {
  background-color: rgb(255, 0, 0);
}

#green-btn {
  background-color: rgb(0, 139, 0);
}

#green-btn-highlight {
  background-color: rgb(0, 255, 0);
}

#blue-btn {
  background-color: rgb(0, 0, 139);
}

#blue-btn-highlight {
  background-color: rgb(0, 0, 255);
}

#yellow-btn {
  background-color: rgb(139, 139, 0);
}

#yellow-btn-highlight {
  background-color: rgb(255, 255, 0);
}
